<!-- app/views/posts/index.html.erb -->
 
<h1>Believe It Or Not I'm Blogging On Air</h1>
 
<!-- add this new code above the @posts.each loop -->
<div>
  <h3>Filter posts:</h3>
  <%= form_tag("/posts", method: "get") do %>
    <%= select_tag "author", options_from_collection_for_select(Author.all, "id", "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<!-- end new code -->
 
<% @posts.each do |post| %>
 
  ...
 
<% end %>